<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>

<h2>List of Vets</h2>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <td style="width: 150px">Name</td>
        <td style="width: 200px">Specialty</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.getFirstName()}"></td>
        <td><span th:each="specialty : ${vet.getSpecialties()}"
                  th:text="${specialty.description + ' '}"/>
            <span th:if="${vet.specialties.size() == 0}">none</span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>